# Blakecoin mainnet bootstrap example.
# Run from contrib/linearize after a local, non-pruned node is fully synced.

datadir=/home/example/.blakecoin
host=127.0.0.1
port=8772

min_height=0
max_height=1987888

netmagic=f9beb4d2
genesis=000000ba5cae4648b1a2b823f84cc3424e5d96d7234b39c6bb42800b2c7639be
input=/home/example/.blakecoin/blocks

hashlist=hashlist.txt
output_file=/home/example/blakecoin-bootstrap-1987888.dat

out_of_order_cache_sz=100000000
rev_hash_bytes=False
file_timestamp=0
split_timestamp=0
debug_output=False
